@tailwind base;
@tailwind components;
@tailwind utilities;

main{
  background-color: aqua;
}
.pie-pagina{
  width: 100%;
  background-color: #0a141d;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 10px 0px;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 10px;
}
footer{
  position: fixed;
  bottom: 0;
  height: 120px;
}